
<link rel="stylesheet" href="/public/css/game.css">
<script src="/public/js/Attack.js"></script>


<div class="container">


    <div class="sub">
        <h1>Attack {{oponent}}</h1>
        <p id="yeet"></p>
        <div class="you">
            <h1>You</h1>
            <button id="attack_op">Attack</button>
            <button id="heal">heal</button>

            <ul>
                <li id="health">Health = {{health}}</li>
                <li id="stamina">Stamina = {{stamina}}</li>
            </ul>
        </div>

        <div class="opponent">
            <h1>{{oponent}}</h1>
            <button>Surrender</button>
            <ul>
                <li    id="ophealth">Health = {{ophealth}}</li>
                <li id="opstamina">Stamina = {{opstamina}}</li>
            </ul>
        </div>
    </div>
</div>











